#fade{
  margin-left:350px;
  text-align: center;
  border-style:solid;
  height:100%;
  width:30%;
  border-radius: 30px;
  border-color:black;
  background-color:#99A3A4;
  font-size:100%;
  font-family:Quicksand;
}

h1{
  font-size: 250%;
  margin-left:33.5%;
  font-family: Playfair Display;
  color:black;


}
#faded{
  display:none;
  border-radius:30px;
  border-color:black;
  background-color:#99A3A4;
}
h2{
margin-left:33.5%;
font-size:100%;
color:black;

}

body{
  background-image: url(http://eskipaper.com/images/apple-keyboard-macro-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
p{
  color:black;

}
#class{
  color:black;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:black;
  text-decoration: none;
}
#fade{
  background-color:#99A3A4;
}
#head{
  cursor:grab;
  color:black;
  font-size:700%;
  font-family: Playfair Display;
  margin-left:33.5%;
}
#head:hover{
  color:white;
}
